services:
  postgres:
    image: postgres:16
    container_name: taskflow-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: taskflow
    ports:
      - "51214:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: